*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr;
    /* flex-flow: column; */
}

a
{
    text-align: center;
    color: navy;
    font-size: 20px;
    padding: .5rem;
}

div
{
    display: flex;
    justify-content: center;
}

table
{
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 0rem 1rem 1rem;
    table-layout: fixed;
    width: 100%;
    max-width: 900px;
}

input
{
    border: 0;
}

tr:not(:last-child):nth-child(2n+1)
{
    background-color: #f2f2f2;
}

tr:not(:first-child):not(:last-child):hover
{
    background-color: #ddd;
}

tr:not(:first-child):not(:last-child):active
{
    background-color: rgb(148, 177, 255);
}

tr:last-child> td:last-child
{
    text-align: center;
    color: navy;
    font-weight: bold;
}

tr:last-child> td:last-child:hover
{
    background-color: lightgreen;
}

tr:last-child > td:last-child:active
{
    background-color: green;
}

th, td
{
  border: 1px solid #ddd;
  padding: 8px;
}

th
{
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

th:hover
{
    background-color: #02e08f;
}

th:active
{
    background-color: #007248;
}